@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #14141f !important;
  font-family: 'Roboto' , sans-serif;
}

h1,h2{
  color: #fff;
  font-weight: 500;
}

p{
  font-weight: 400;
  font-size: 1rem;
  color: #fff;
  opacity: 85%;
  line-height: 35px;
}

a{
  text-decoration: none !important;
  color: unset;
}

a:hover{
  color: unset;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}


section , footer  {
  padding: 60px 0px;
}


.send__btn{
  padding: 10px 25px;
  border-radius: 30px;
  outline: none;
  border: none;
  color: white;
  background-color: blueviolet;
  font-size: 1.1rem;
  transition: 0.5s all;


}

.send__btn:hover{
  color: blueviolet;
  background-color: white;
}

/* ====================== custom scroll-bar ========================== */


::-webkit-scrollbar {
  width: 10px;
  background-color: #343444;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px ;
  background: linear-gradient(-45deg, #e56650, #b0e64b, #e55066, #e6b24b);
}

