.common__section {
     background: url('../../../assets/images/bg.jpg');
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 150px;


     h2 {
          color: white;
     }
}
