@media screen and (max-width: 992px) {
     .nft__title {
          font-size: 0.9rem;
     }

     .creater__info {
          h6 {
               font-size: .6rem;
          }

          p {
               font-size: 0.7rem;
          }
     }

     .bid__btn {
          padding: 4px 20px;
          font-size: 0.7rem;
     }

     .history__link {
          font-size: 0.5rem;
     }


}