.hero__section {
     margin-top: 120px;

     h2 {
          line-height: 55px;
          font-size: 2.5rem;
     }
}

.hero__section h2 span {
     background: linear-gradient(-45deg, #e56650, #b0e64b, #e55066, #e6b24b);
     background-size: 100% 100%;
     background-clip: text;
     -webkit-text-stroke: 3px transparent;
     -webkit-text-fill-color: #14141f;
     margin-left: 7px;
     display: inline-block;
}

.hero__btns {
     margin-top: 50px;

     button {
          border: none;
          outline: none;
          padding: 10px 25px;
          border: 1px solid #5142fe;
          font-size: 0.9rem;
          background: transparent;
          border-radius: 50px;

          a {
               color: #fff;
          }

          i {
               color: #fff;
          }


     }


     .explore__btn {
          background-color: #5142fe;
          color: #fff;
     }
}

.hero__img {
     width: 500px;
     margin-left: auto;

     img {
          border-radius: 10px;
     }

}

// @media screen and (max-width: 992px) {
//      .hero__img {
//           width: 350px;
//      }

//      .hero__content {
//           h2 {
//                font-size: 1.5rem;
//                line-height: 40px;

//           }
//      }
// }

@media screen and (max-width: 768px) {
     .hero__img {
          width: 300px;
     }

     .hero__section {
          margin-top: 100px;
     }

     .hero__content {
          h2 {
               font-size: 1.2rem;
               line-height: 40px;
          }

          p {
               font-size: 0.8rem;
               line-height: 25px;
          }
     }

     .create__btn,
     .explore__btn {
          padding: 4px 25px;
          font: size 0.7rem;
     }
}

@media screen and (max-width: 568px) {
     .hero__img {
          width: 100%;
          margin: auto;
          margin-top: 50px;
     }
}